PORT=8080
DB_CONN=postgresql://postgres.xtkfscgkwgtxcodwlzbx:CHANGE_TO_YOUR_PASSWORD@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?sslmode=require&statement_cache_capacity=0&default_query_exec_mode=simple_protocol